<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Personal Website</title>
     
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    
      <div class="container mt-5">
        <div class="jumbotron text-center">
          <h1 class="display-4">Hanieh Hosseini</h1>
          <p class="lead">Web Developer | Student | Happy Programmer:) </p>
        </div>
    
        <div class="row">
          <div class="col-md-6">
            <h2>About Me</h2>
            <p>
              Hello! I am a passionate web developer with a keen interest in creating dynamic and responsive websites.
            </p>
          </div>
          <div class="col-md-6">
            <h2>Skills</h2>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript</li>
              <li>Bootstrap</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>
    
        <div class="row mt-4">
          <div class="col-md-12">
            <h2>Contact</h2>
            <p>Email: hecallsmehni27</p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/hanieh-hosseini-2a2551219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">LinkedIn Profile</a></p>
            <p>GitHub: <a href="https://github.com/haniehhoseini" target="_blank">GitHub Profile</a></p>
          </div>
        </div>
      </div>
    
      
    </body>
