<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link curser" (click)="login()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link curser" (click)="register()">Register</a>
        </li>
        <li class="nav-item curser">
          <a class="nav-link curser" (click)="transaction()">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link curser" (click)="wallet()">wallet</a>
        </li>
    </ul>
</nav>