<section class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 vh-100 bg-white">
                <body>
                    <div class="container d-flex align-items-center justify-content-center h-100">
                        <div class="row">
                            <div class="col text-center">
                                <form [formGroup]="form">
                                    <h2 class="form-label">First Gamer:</h2>
                                    <input type="text" class="form-control col-lg-2" formControlName="gamerFirst">
                                </form>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <br><button (click)="onClick1()" class="btn btn-outline-dark">Click</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>    
            </div>
            <div class="col-lg-6 vh-100 bg-white">
                <body>
                    <div class="container d-flex align-items-center justify-content-center h-100">
                        <div class="row">
                            <div class="col text-center">
                                <form [formGroup]="form">
                                    <h2 class="form-label">Second Gamer:</h2>
                                    <input type="text" class="form-control col-lg-2" formControlName="gamerSecond">
                                </form>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <br><button (click)="onClick2()" class="btn btn-outline-dark">Click</button>
                                </div>
                            </div>  
                        </div>   
                    </div>       
                </body>
            </div>
        </div>          
    </div>    
</section>

