<form [formGroup]="taskForm">
  <div class="form-group mt-5">
    <label>Enter your Items</label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="title">
      <button (click)="Enter()" class="btn btn-outline-dark" type="submit">Enter</button>
    </div>
  </div> 
</form>
<br>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Button</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of taskList">
      <td>{{item.id}}</td>
      <td [ngStyle]="{'text-decoration': item.isdone ? 'line-through' : 'none'}">{{item.title}}</td>
      <td>
        <app-each-items
          [task]="item"
          (deleted)="onDeleteTask($event)"
          (edited)="onEditTask($event)"
          (done)="onDoneTask($event)">
        </app-each-items>
      </td>
    </tr>
  </tbody>
</table>