<div *ngFor="let items of gamers">
    <div class="split left">
      <div class="center">
        <img src="assets/woman.jpg">
        <h2>{{ items.First }}</h2>
        <h2>{{ score1 }}</h2>
      </div>
    </div>

    <div class="split right">
      <div class="center">
        <img src="assets/man.jpg">
        <h2>{{ items.Second }}</h2>
        <h2>{{ score2 }}</h2>
      </div>
    </div>
</div> 

<div class="split centered">
    <img src="assets/1.jpg" id="img">
  <div class="d-grid gap-2 col-6 mx-auto">
    <br><button (click)="play()" class="btn btn-outline-dark">Play!:)</button>
  </div>
  <h2>{{ count }}</h2>
</div> 

