<router-outlet></router-outlet>
<div class="relative-container">
    <img class="img-fluid" src="assets/background.jpg" alt="we FuckedUp">
    <div class="overlay">
            <h2 class="text-white">
                <cite>It's gambling...</cite>
            </h2>
            <cite class="text-white">but let's enjoy ~.~</cite>
            
        <div class="d-grid gap-2 col-6 mx-auto">
            <br><button (click)="play()" type="button" class="btn btn-outline-light">start</button>
        </div>
        
    </div>
</div>
