  <div class="alert alert-success alert-dismissible" *ngIf="alert">
    <a class="close" data-dismiss="alert" aria-label="close"></a>
    <strong>Success!</strong>
  </div>
<div class="title">
  <h1 class="center">نرم افزار مدیریت دل نوشته</h1>
</div> 
  <form [formGroup]="form">
    <div class="position">
      <textarea  formControlName="text" rows="20"></textarea>
      <button (click)="submit()">ثبت دل نوشته</button>
      <button (click)="edit()">تغییر دل نوشته</button>
    </div>
  </form>

  