.positon{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.textarea{
    margin-top: 100px;
    width: 700px;
}
.title {
    background-color: aquamarine;
    border-radius: 50px 20px;
    height: 200px;
    width: 100%;
}
