<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text Memory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>...........{{ item.textMemory | slice:0:20 }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="readMemoryInTextArea(item.id)">مشاهده کردن</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteMemory(item.id)">حذف کردن</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
